In [231]:
import numpy as np
import pandas as pd
import nltk
pd.set_option('display.max_colwidth', -1)
import geograpy

In [232]:
data=pd.read_csv('train.csv')
data.shape[0]

7613

In [233]:
data[4:5]
x=data['text']

In [234]:
from geotext import GeoText
simple=[]
for texty in x:
    places=(GeoText(texty).country_mentions)
    place1=GeoText(texty)
    simple.append(places)
    simple.append(place1.cities)
simple_test=list(filter(None,simple))

In [253]:
simple_test.shape()

AttributeError: 'list' object has no attribute 'shape'

In [236]:
x

0       Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all
1       Forest fire near La Ronge Sask. Canada
2       All residents asked to 'shelter in place' are being notified by officers. No other evacuation or shelter in place orders are expected
3       13,000 people receive #wildfires evacuation orders in California
4       Just got sent this photo from Ruby #Alaska as smoke from #wildfires pours into a school
                                                  ...
7608    Two giant cranes holding a bridge collapse into nearby homes http://t.co/STfMbbZFB5
7609    @aria_ahrary @TheTawniest The out of control wild fires in California even in the Northern part of the state. Very troubling.
7610    M1.94 [01:04 UTC]?5km S of Volcano Hawaii. http://t.co/zDtoyd8EbJ
7611    Police investigating after an e-bike collided with a car in Little Portugal. E-bike rider suffered serious non-life threatening injuries.
7612    The Latest: More Homes Razed by Northern California Wildfire - ABC News http://t.co/YmY4rSkQ3d
Name: text, Length: 7613, dtype: object

In [237]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(strip_accents='ascii',token_pattern=u'(?ui)\\b\\w*[a-z]+\\w*\\b', lowercase=True, stop_words='english')
df=data[['text','target']]

x_train=data['text']
y_train=data['target']

In [238]:
import re
i=0;
doc=[]
for text in x_train:
    x_train[i] = re.sub(r'http\S+', '', text)
    doc.append(x_train[i].replace("#",""))
    x_train[i] =re.sub('[^A-Za-z0-9]+', ' ', doc[i])
    i=i+1;

/Users/neelbhandari/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/neelbhandari/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [239]:
x_train

0       Our Deeds are the Reason of this earthquake May ALLAH Forgive us all
1       Forest fire near La Ronge Sask Canada
2       All residents asked to shelter in place are being notified by officers No other evacuation or shelter in place orders are expected
3       13 000 people receive wildfires evacuation orders in California
4       Just got sent this photo from Ruby Alaska as smoke from wildfires pours into a school
                                                 ...
7608    Two giant cranes holding a bridge collapse into nearby homes
7609     aria ahrary TheTawniest The out of control wild fires in California even in the Northern part of the state Very troubling
7610    M1 94 01 04 UTC 5km S of Volcano Hawaii
7611    Police investigating after an e bike collided with a car in Little Portugal E bike rider suffered serious non life threatening injuries
7612    The Latest More Homes Razed by Northern California Wildfire ABC News
Name: text, Length: 7613, dtype: object

In [240]:
X_train_cv = cv.fit_transform(x_train)
testing=pd.read_csv('test.csv')
x_test=testing['text']
import re
i=0;
doc=[]
for text in x_test:
    x_test[i] = re.sub(r'http\S+', '', text)
    doc.append(x_test[i].replace("#",""))
    x_test[i] =re.sub('[^A-Za-z0-9]+', ' ', doc[i])
    i=i+1;
X_test_cv = cv.transform(x_test)

/Users/neelbhandari/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/neelbhandari/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [241]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB()
naive_bayes.fit(X_train_cv, y_train)
predictions = naive_bayes.predict(X_test_cv)

In [242]:
testing

,id,keyword,location,text
0,0,NaN,NaN,Just happened a terrible car crash
1,2,NaN,NaN,Heard about earthquake is different cities stay safe everyone
2,3,NaN,NaN,there is a forest fire at spot pond geese are fleeing across the street I cannot save them all
3,9,NaN,NaN,Apocalypse lighting Spokane wildfires
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan
...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES SAFETY FASTENERS XrWn
3259,10865,NaN,NaN,Storm in RI worse than last hurricane My city amp 3others hardest hit My yard looks like it was bombed Around 20000K still without power
3260,10868,NaN,NaN,Green Line derailment in Chicago
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook HWO
3262,10875,NaN,NaN,CityofCalgary has activated its Municipal Emergency Plan yycstorm

In [243]:
predictions

array([1, 1, 1, ..., 1, 1, 1])

In [244]:
x=pd.DataFrame(predictions)

In [245]:
x.to_csv('filename11.csv', index=False)

In [246]:
temp=testing['id']
temp

0       0
1       2
2       3
3       9
4       11
        ..
3258    10861
3259    10865
3260    10868
3261    10874
3262    10875
Name: id, Length: 3263, dtype: int64

In [247]:
predictions=pd.DataFrame(predictions)

In [248]:
temp=pd.DataFrame(temp)

In [249]:
temp['target']=predictions

In [250]:
temp.columns

Index(['id', 'target'], dtype='object')

In [251]:
temp.to_csv('sub101.csv', index=False)